packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
*.retry
ansible/roles/jdauphant.nginx/
# Vagrant & molecule
ansible/.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
/ansible/venv/
/ansible/roles/db/
